/*************/
/* FONTS */
/*************/
@import url("https://use.typekit.net/myy2iyg.css");

/*************/
/* CSS RESET */
/*************/

/*naar een idee van Jen Simmons*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: var(--white);
  background-color: var(--background-black);
}

button:not([disabled]) {
  cursor: pointer;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --background-black: #242424;
  --frame-black: #5C5C5C;
  --white: #fff;

  --decoration-orange: #FBB95C;
  --decoration-pink: #FFD1DC;
  --decoration-purple: #C1B0E1;
  --decoration-yellow: #FDFD96;
  --decoration-green: #CBF3B7;

  --emoji-face: #FFDE45;
}

.emoji-popup {
  max-width: 60rem;
  width: 100%;
  padding: 2em 3em;
  border-radius: 2em;

  display: none;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--frame-black);
}

.emoji-popup.show {
  display: block;
}

#close-popup {
  width: 2rem;
  height: 2rem;
  border: none;
  font-size: 0;
  background-color: transparent;
  position: absolute;
  right: 3rem;
}

.emoji {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  padding: 0;
  border: none;
  margin-bottom: 2rem;
}

.face {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;

  background-color: var(--emoji-face);
}

.form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form legend {
  margin: 1rem 0;
}

.form form label {
  position: relative;
  display: inline-block;
}

.form form input {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  appearance: none;
  background-color: var(--white);
}

.form form input:checked {
  background-color: var(--decoration-purple);
}

.form form input:focus {
  outline: 3px solid var(--decoration-pink);
}

.form form label[for="addbrows"],
.form form label[for="addbodylanguage"] {
  width: 100%;
  margin: 0 0 1rem;

  display: flex;
  align-items: center;
}

.form form label[for="addbrows"] input,
.form form label[for="addbodylanguage"] input {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

.form form label img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--background-black);
}